.list_bottom {
  text-align: center;
  section {
    position: relative;
    margin: 0 15px;
    a {
      display: block;
      line-height: 48px;
      color: #999;
      text-decoration: none;
    }
  }
}